#scores > h3 {
  display: inline;
}

#scores > h3:nth-child(2) {
  margin-left: 20px;
}

#scores {
  margin-top: 20px;
}

.Scoring-section {
  display: inline-block;
  vertical-align: top;
  width: 10em;
}

.Scoring-section-lower {
  margin-left: 3em;
}
